.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.header-container .header-img img {
    width: max(5vw, 70px);
}